MaMa/Noderedflow.txt
[{"id":"54fa4ae1.69a8c4","type":"websocket in","z":"c2ecf756.ac80c8","name":"","server":"7b3cb746.427298","client":"","x":230,"y":220,"wires":[["2dd1efb3.40202"]]},{"id":"2dd1efb3.40202","type":"debug","z":"c2ecf756.ac80c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":410,"y":220,"wires":[]},{"id":"13f682f5.45daed","type":"inject","z":"c2ecf756.ac80c8","name":"CFP","topic":"","payload":"{ \"frame\": { \"semanticProtocol\": \"http://www.vdi.de/gma720/vdi2193_2/bidding\", \"type\": \"callForProposal\", \"conversationId\": \"68175af8-8826-49f6-8953-5749fc0a45bd\", \"messageId\": \"1\", \"sender\": { \"identification\": { \"id\": \"http://www.admin-shell.io/wewash/sr1\" } }, \"replyBy\": \"1558451700\" }, \"dataElements\": { \"submodels\": [{ \"identification\": { \"id\": \"0173-1#02-BAF577#004\", \"submodelElements\": [ { \"idShort\": \"gewicht\", \"modelType\": \"Property\", \"value\": \"5\", \"valueType\": \"string\", \"semanticId\": \"0173-1#02-AAB713#005\" }, { \"idShort\": \"farbe\", \"modelType\": \"Property\", \"value\": \"schwarz\", \"valueType\": \"string\", \"semanticId\": \"0173-1#02-AAN521#005\" }, { \"idShort\": \"material\", \"modelType\": \"Property\", \"value\": \"baumwolle\", \"valueType\": \"string\", \"semanticId\": \"0173-1#02-BAF634#008\" }, { \"idShort\": \"ort\", \"modelType\": \"Property\", \"value\": \"berlin\", \"valueType\": \"string\", \"semanticId\": \"0173-1#02-BAF163#002\" }, { \"idShort\": \"zeit\", \"modelType\": \"Property\", \"value\": \"1558461600\", \"valueType\": \"string\", \"semanticId\": \"0173-1#02-AAO738#001\" } ] } } ] } }","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":340,"wires":[["9d195c0e.2c34d"]]},{"id":"9d195c0e.2c34d","type":"websocket out","z":"c2ecf756.ac80c8","name":"","server":"c14c17a4.e412c8","client":"","x":490,"y":320,"wires":[]},{"id":"5d5ef3cd.5e039c","type":"websocket out","z":"c2ecf756.ac80c8","name":"","server":"7b3cb746.427298","client":"","x":500,"y":520,"wires":[]},{"id":"cb16f0b.6ce851","type":"inject","z":"c2ecf756.ac80c8","name":"","topic":"","payload":"0173-1#02-BAF577#004","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":520,"wires":[["5d5ef3cd.5e039c"]]},{"id":"fc934bfc.a223c8","type":"websocket in","z":"c2ecf756.ac80c8","name":"","server":"c59cb4d5.c3ad48","client":"","x":220,"y":180,"wires":[["b30520e6.589ba"]]},{"id":"b30520e6.589ba","type":"debug","z":"c2ecf756.ac80c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":340,"y":120,"wires":[]},{"id":"6e6fe36c.cd502c","type":"inject","z":"c2ecf756.ac80c8","name":"Proposal","topic":"","payload":"{\"frame\":{\"semanticProtocol\":\"http://www.vdi.de/gma720/vdi2193_2/bidding\",\"type\":\"proposal\",\"conversationId\":\"68175af8-8826-49f6-8953-5749fc0a45bd\",\"messageId\":\"2\",\"sender\":{\"identification\":{\"id\":\"http://www.admin-shell.io/wewash/sp1\"}},\"receiver\":{\"identification\":{\"id\":\"http://www.admin-shell.io/wewash/sr1\"}},\"replyBy\":\"1558451700\"},\"dataElements\":{\"submodels\":[{\"identification\":{\"id\":\"0173-1#02-BAF577#004\",\"submodelElements\":[{\"idShort\":\"gewicht\",\"modelType\":\"Property\",\"value\":\"5\",\"valueType\":\"string\",\"semanticId\":\"0173-1#02-AAB713#005\"},{\"idShort\":\"farbe\",\"modelType\":\"Property\",\"value\":\"schwarz\",\"valueType\":\"string\",\"semanticId\":\"0173-1#02-AAN521#005\"},{\"idShort\":\"material\",\"modelType\":\"Property\",\"value\":\"baumwolle\",\"valueType\":\"string\",\"semanticId\":\"0173-1#02-BAF634#008\"},{\"idShort\":\"ort\",\"modelType\":\"Property\",\"value\":\"berlin\",\"valueType\":\"string\",\"semanticId\":\"0173-1#02-BAF163#002\"},{\"idShort\":\"zeit\",\"modelType\":\"Property\",\"value\":\"1558461600\",\"valueType\":\"string\",\"semanticId\":\"0173-1#02-AAO738#001\"},{\"idShort\":\"preis\",\"modelType\":\"Property\",\"value\":\"5\",\"valueType\":\"string\",\"semanticId\":\"0173-1#02-AAO739#001\"}]}}]}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":580,"wires":[["ff1817f1.f69978"]]},{"id":"ff1817f1.f69978","type":"websocket out","z":"c2ecf756.ac80c8","name":"","server":"c14c17a4.e412c8","client":"","x":470,"y":580,"wires":[]},{"id":"7b3cb746.427298","type":"websocket-listener","z":"","path":"/ws/newService","wholemsg":"false"},{"id":"c14c17a4.e412c8","type":"websocket-listener","z":"","path":"/ws/cfp","wholemsg":"false"},{"id":"c59cb4d5.c3ad48","type":"websocket-listener","z":"","path":"/ws/debug","wholemsg":"false"}]
